<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>Title</title>
	<link rel="stylesheet" rev="stylesheet" href="./css/classic.css" type="text/css" media="screen" charset="utf-8" />
    <!--
    <script type="text/javascript" src="./js/prototype.js"></script>
    <script type="text/javascript" src="./js/scriptaculous.js"></script>
    -->
    <style type="text/css">
    	#body
    	{
    		font-size: 18pt;
    	}
    </style>
</head>
<body>
<div id="body">
	<table border="0">
		<tr>
			<td>
				[[artwork]] 
			</td>
			<td style="vertical-align:top;">
				<div class="large bold shadow">[[title]]</div>
				<div class="large">[[artist]]</div>
				<div class="italic">[[album]]</div>
				<div class="large">[[rating]]</div>
			</td>
		</tr>
	</table>
</div>
<script type="text/javascript">
	/*
	document.getElementById('body').style.visibility = 'hidden';
	this.setTimeout("dostuff()", 500);
	function dostuff()
	{
		document.getElementById('body').style.visibility = 'inherit';
		document.getElementById('body').style.display = 'none';
		new Effect.Appear('body', {duration: 0.75});
	}
	*/
</script>
</body>
</html>
