<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>artworkSize</key>
	<real>160</real>
	<key>view</key>
	<string>classic</string>
	<key>delayTime</key>
	<integer>5</integer>
	<key>showWindowOn</key>
	<integer>0</integer>
	<key>viewBundle</key>
	<string>net.stormsilver.itunescheck.InfoWindow</string>
</dict>
</plist>
