<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ActionPath</key>
	<string>Rate0.plug/rateSong0.scpt</string>
	<key>Enabled</key>
	<false/>
	<key>Key</key>
	<integer>29</integer>
	<key>Kind</key>
	<string>Built-In</string>
	<key>Modifiers</key>
	<integer>2304</integer>
	<key>Name</key>
	<string>Rate Song 0</string>
</dict>
</plist>
